<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    {{ assets_css "/static/components/bootstrap-4.5.0/css/bootstrap.min.css"}}
    {{ assets_css "/static/css/layout.css"}}
    {{ .SectionStyle }}
</head>
<body>
    {{ template "base/templates/nav.html" . }}
    <div class="row">
        <div class="col-12">
            {{ .LayoutContent }}
        </div>
    </div>
    {{ .SectionScript }}
</body>
</html>