<form action="{{ urlfor `UserController.Add` }}" method="POST">
    <div class="form-group row">
        <input class="form-control form-control-sm" type="hidden" name="_xsrf" value="{{.xsrf_token}}" />
        
        <label class="col-2 col-form-label" for="name">用户名<span class="text-danger">*</span></label>
        <div class="col-10">
            <input class="form-control" type="text" id="name" name="name" placeholder="用户名" value="{{ .user.Name }}" required/>
            <small class="form-text text-muted">
                    只能由大小写英文、数字、下划线和中划线组成,长度为5~32个,且必须唯一
            </small>
        </div>
    </div>

    <div class="form-group row">
        <input class="form-control form-control-sm" type="hidden" name="_xsrf" value="{{.xsrf_token}}" />

        <label class="col-2 col-form-label" for="name">姓名<span class="text-danger">*</span></label>
        <div class="col-10">
            <input class="form-control" type="text" id="name" name="nickname" placeholder="用户名" value="{{ .user.Nickname }}" required/>
            <small class="form-text text-muted">
                    名字
            </small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label" for="password">密码<span class="text-danger">*</span></label>
        <div class="col-10">
            <input class="form-control" type="password" id="password" name="password" placeholder="密码" value="" required/>
            <small class="form-text text-muted">
                    长度必须为6~32位
            </small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label" for="passwordVerify">确认密码<span class="text-danger">*</span></label>
        <div class="col-10">
            <input class="form-control" type="password" id="passwordVerify" name="passwordVerify" placeholder="确认密码"/>
            <small class="form-text text-muted">
                    两次密码必须相同
            </small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">性别</label>
        <div class="col-10">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="male" name="gender" class="custom-control-input" value="0" clecked="checked">
                <label class="custom-control-label" for="male">男</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="female" name="gender" class="custom-control-input" value="1">
                <label class="custom-control-label" for="female">女</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label" for="department">部门</label>
        <div class="col-10">
            <input class="form-control" type="text" id="tel" name="department" value="{{ .user.Department }}" placeholder="请输入部门"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label" for="tel">联系方式</label>
        <div class="col-10">
            <input class="form-control" type="tel" id="tel" name="tel" value="{{ .user.Tel }}" placeholder="请输入联系方式"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label" for="email">邮箱</label>
        <div class="col-10">
            <input class="form-control" type="email" id="email" name="email" value="{{ .user.Email }}" placeholder="请输入邮箱地址"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label" for="addr">地址</label>
        <div class="col-10">
            <textarea class="form-control" id="addr" name="addr" rows="3" value="{{ .user.Addr }}" placeholder="请输入地址"></textarea>
            <small class="form-text text-muted">
                长度必须为0~512位
            </small>
        </div>
    </div>

    <input class="btn btn-sm btn-primary" type="submit" value="提交" />
</form>